<!DOCTYPE html>

<!-- Mirrored from www.vasterad.com/themes/listeo_22/dashboard-wallet.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 May 2022 16:17:27 GMT -->

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>E-HOMES | WALLET</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main-color.css" id="colors">

</head>

<body>

	<%- include('../partials/nav.ejs'); %>

		<!-- Content
	================================================== -->
		<div class="dashboard-content">

			<!-- Titlebar -->
			<div id="titlebar">
				<div class="row">
					<div class="col-md-12">
						<h2>Wallet</h2>
						<!-- Breadcrumbs -->
						<nav id="breadcrumbs">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li>Wallet</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="row">

				<!-- Item -->
				<div class="col-lg-4 col-md-6">
					<div class="dashboard-stat color-1">
						<div class="dashboard-stat-content wallet-totals">
							<h4>84.50</h4> <span>Withdrawable Balance <strong
									class="wallet-currency">USD</strong></span>
						</div>
						<div class="dashboard-stat-icon"><i class="im im-icon-Money-2"></i></div>
					</div>
				</div>
				<!-- Item -->
				<div class="col-lg-4 col-md-6">
					<div class="dashboard-stat color-3">
						<div class="dashboard-stat-content wallet-totals">
							<h4>245.15</h4> <span>Total Earnings <strong class="wallet-currency">USD</strong></span>
						</div>
						<div class="dashboard-stat-icon"><i class="im im-icon-Money-Bag"></i></div>
					</div>
				</div>

				<!-- Item -->
				<div class="col-lg-4 col-md-6">
					<div class="dashboard-stat color-2">
						<div class="dashboard-stat-content">
							<h4>3</h4> <span>Total Orders</span>
						</div>
						<div class="dashboard-stat-icon"><i class="im im-icon-Shopping-Cart"></i></div>
					</div>
				</div>

			</div>

			<div class="row">

				<!-- Invoices -->
				<div class="col-lg-6 col-md-12">
					<div class="dashboard-list-box invoices with-icons margin-top-20">
						<h4>Earnings <div class="comission-taken">Fee: <strong>15%</strong></div>
						</h4>
						<ul>

							<li><i class="list-box-icon sl sl-icon-basket"></i>
								<strong>Sunway Apartment</strong>
								<ul>
									<li class="paid">$99.00</li>
									<li class="unpaid">Fee: $14.50</li>
									<li class="paid">Net Earning: <span>$84.50</span></li>
									<li>Order: #00124</li>
									<li>Date: 01/02/2019</li>
								</ul>
							</li>

						</ul>
					</div>
				</div>

				<!-- Invoices -->
				<div class="col-lg-6 col-md-12">
					<div class="dashboard-list-box invoices with-icons margin-top-20">
						<h4>Payout History</h4>
						<ul>

							<li><i class="list-box-icon sl sl-icon-wallet"></i>
								<strong>$84.50</strong>
								<ul>
									<li class="unpaid">Unpaid</li>
									<li>Period: 02/2019</li>
								</ul>
							</li>



						</ul>
					</div>
				</div>



				<!-- Copyrights -->
				<div class="col-md-12">
					<div class="copyrights">© 2022 E-HOMES. ALL RIGHTS RESERVED.</div>
				</div>
			</div>

		</div>
		<!-- Content / End -->


		</div>
		<!-- Dashboard / End -->


		</div>
		<!-- Wrapper / End -->


		<!-- Scripts
================================================== -->
		<script type="text/javascript" src="scripts/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="scripts/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="scripts/mmenu.min.js"></script>
		<script type="text/javascript" src="scripts/chosen.min.js"></script>
		<script type="text/javascript" src="scripts/slick.min.js"></script>
		<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
		<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
		<script type="text/javascript" src="scripts/waypoints.min.js"></script>
		<script type="text/javascript" src="scripts/counterup.min.js"></script>
		<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
		<script type="text/javascript" src="scripts/tooltips.min.js"></script>
		<script type="text/javascript" src="scripts/custom.js"></script>


</body>

<!-- Mirrored from www.vasterad.com/themes/listeo_22/dashboard-wallet.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 May 2022 16:17:27 GMT -->

</html>